{% extends 'base.html' %}

{% block content %}

<div class = "container">
    <h2> Edit Bio</h2>
    <form method = "post">
        {% csrf_token %}
        {% for field in bio %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
            </p>
        {% endfor %}
        <button type = "submit">Submit</button>
    </form>
<div>
{% endblock %}